<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="connection.url">
            jdbc:postgresql://localhost:5432/Test
        </property>

        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>

        <property name="connection.pool_size">1</property>

        <property name="dialect">
            org.hibernate.dialect.PostgreSQL82Dialect
        </property>

        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.test.pLesson56.p1.entity.Device"/>
        <mapping class="com.test.pLesson56.p1.entity.Factory"/>
        <mapping class="com.test.pLesson56.p1.entity.Printer"/>
        <mapping class="com.test.pLesson56.p1.entity.Personal"/>
        <mapping class="com.test.pLesson56.p1.entity.User"/>
        <mapping class="com.test.pLesson56.p1.entity.Role"/>
        <mapping class="com.test.pLesson56.p1.entity.Messages"/>
        <mapping class="com.test.pLesson56.p1.entity.Flower"/>
        <mapping class="com.test.pLesson56.p1.entity.Order"/>
        <mapping class="com.test.pLesson57.p2.Account"/>
        <mapping class="com.test.pLesson57.p2.Profile"/>
        <mapping class="com.test.pLesson57.p3.Child"/>
        <mapping class="com.test.pLesson57.p3.Parent"/>
        <mapping class="com.test.pLesson57.p4.CourseTest"/>
        <mapping class="com.test.pLesson57.p4.Student"/>
        <mapping class="com.test.pLesson57.p5.Pie"/>
        <mapping class="com.test.pLesson57.ContactPerson"/>
        <mapping class="com.test.pLesson57.Juice"/>
        <mapping class="com.test.pLesson57.Manufacturer"/>
        <mapping class="com.test.pLesson57.Orange"/>
        <mapping class="com.test.TestOnlineSchoolJPA.entity.AdditionalMaterial"/>
        <mapping class="com.test.TestOnlineSchoolJPA.entity.Lecture"/>
        <mapping class="com.test.TestOnlineSchoolJPA.entity.Homework"/>
        <mapping class="com.test.TestOnlineSchoolJPA.entity.Person"/>
        <mapping class="com.test.TestOnlineSchoolJPA.entity.Course"/>
        <mapping class="com.test.pLesson59.entity.MicroPhone"/>

    </session-factory>

</hibernate-configuration>