
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.form {
    width: 60%;
    text-align: center;
    position: static;
    background: linear-gradient(to bottom, rgba(0, 50, 150, 0.4), rgba(0, 0, 30, 0.3));
    background-size: cover;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.form .first-login {
    color: #333;
}

.form .icon-login {
    width: 100px;
    height: 100px;
}

.form .first-row {
    border-bottom: 1px solid rgba(0, 200, 255, 0.4);
    padding: 1em 0;
    border-radius: 5px 5px 0 0;
    background: rgba(0, 0, 0, 0.2);
}

.form .first-row h2 {
    color: #ddd;
}

.form .input-group {
    padding: 0.5em 2em;
}

.form .input-group input {
    border: 1px solid #007CFF;
    height: 3em;
    font-size: 18px;
}

.form .input-group .form-control {
    color: #007CFF;
}

.form .input-group .input-group-addon {
    background-color: #ddd;
    border: 1px solid #007CFF;
    border-left: none;
    color: #007CFF;
}

.remember-me, .register {
    padding: 1em 2em;
    color: #eee;
    text-transform: uppercase;
}

.remember-me {
    text-align: left;
}

.register {
    text-align: right;
}

.register a {
    color: #eee;
    text-decoration: none;
}

.register a:hover {
    color: red;
    text-decoration: none;
}

.switch {
    margin: 0.1em 0.5em;
    float: left;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -o-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.login-btn {
    width: 75%;
    background: #00AEEF;
    margin: 20px;
}

h3 {
    color: #ddd;
}

.sign-up {
    color: #ddd;
}

.sign-up a {
    color: #007CFF;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }
}